{% extends "layout.html" %}
{% block content %}

<h3>About author</h3>
<p>
Santtu Keskinen &lt;santtu.keskinen@gmail.com&gt;<br/>
A programmer, a contrarian, a lesser scholar.
</p>
<h3>Goals</h3>
<ul>
    <li>Balancing the growing complexity of the world with simplicity.</li>
    <li>Augmenting human capabilities.</li>
    <li>Making wisdom understandable and accessable.</li>
    <li>Living in accordance with nature.</li>
    <li>Try to soften the collapse of humanity.</li>
    <li>Simplify living by adding structure to life.</li>
</ul>

<h3>Other stuff I like</h3>
<ul>
    <li><a href="https://handmade.network/">Handmade Network</a></li>
    <li><a href="http://number-none.com/blow/">Jonathan Blow's home page</a> <a href="https://twitter.com/jonathan_blow">and Twitter</a></li>
    <li><a href="https://www.dougengelbart.org">Engelbart Institute</a></li>
    <li><a href="https://howtobeastoic.wordpress.com">How to Be a Stoic by Massimo Pigliucci</a></li>
    <li><a href="https://copyconstruct.medium.com/">Cindy Sridharan's blog on software engineering</a></li>
    <li><a href="http://www.loper-os.org/">Loper OS is an idealistic Lisp machine project</a></li>
</ul>
{% endblock content %}